{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}

<nav>
    <p>Sobre</p>
</nav>
<header>
    <div>
        <img src="http://www.stickpng.com/assets/images/58429400a6515b1e0ad75acc.png" alt="">
    </div>
    <div>
        <a href="">Como Funciona</a>
        <a href="">Mastertech</a>
    </div>
</header>
<section>
    <div>

    </div>
    <div>
        <h3>Como a minha ideia funciona ?</h3>
        <p>Bacon ipsum dolor amet fatback short ribs alcatra porchetta. Chuck buffalo cupim tenderloin strip steak short ribs ham porchetta andouille fatback pig ribeye pork belly tri-tip corned beef.</p>
    </div>
</section>
<aside>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-RGse8zsFsiwi2LyiAzBlXJK-hvrLhn-ryzxdGcutMPOhuUnu" alt="">
        <p>Chuck buffalo cupim tenderloin strip steak short ribs ham porchetta andouille fatback pig ribeye pork belly tri-tip corned beef.</p>
    </div>
    <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-RGse8zsFsiwi2LyiAzBlXJK-hvrLhn-ryzxdGcutMPOhuUnu" alt="">
            <p>Chuck buffalo cupim tenderloin strip steak short ribs ham porchetta andouille fatback pig ribeye pork belly tri-tip corned beef.</p>
    </div>
    <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-RGse8zsFsiwi2LyiAzBlXJK-hvrLhn-ryzxdGcutMPOhuUnu" alt="">
            <p>Chuck buffalo cupim tenderloin strip steak short ribs ham porchetta andouille fatback pig ribeye pork belly tri-tip corned beef.</p>
    </div> 
</aside>
<footer>
    <div>
        <a href="">Lorem</a>
        <a href="">Ipsum</a>
        <a href="">Dolor</a>
    </div>
</footer>

{% endblock %}